.account-container {
    /*background-image: url('/images/BG Admin (1).png');*/
    background-color: #fafafa;
    background-size: cover; /* Memastikan gambar latar belakang mengisi seluruh elemen */
    background-position: center; /* Memastikan gambar berada di tengah */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Memastikan elemen mengisi seluruh tinggi layar */
    padding: 2rem 0;
    width: 100%; /* Pastikan elemen mengisi seluruh lebar */
    position: absolute; /* Agar gambar latar belakang tetap di belakang konten */
}

.account-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    opacity: .9;
}
